dist
node_modules
*.log
*.env
.DS_Store
.idea
.vscode
*.sublime-project
*.sublime-workspace
*.swp
*.bak
*.tmp
*.cache
*.pid
*.seed
*.pid.lock
*.gz
*.zip
*.tar
*.rar
*.7z
*.log
*.sql
*.sqlite
*.sqlite3
*.db